<?xml version="1.0"?>
<robot name="denso" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find denso_description)/urdf/common/materials.xacro" />
  <xacro:include filename="$(find denso_description)/urdf/common/joint_link.xacro" />
  <xacro:include filename="$(find denso_description)/urdf/denso_gripper.xacro" />

  <link name="world" />
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link="base_link" />
  </joint>

  <!-- Define all links -->
  <xacro:denso_link
    name="base_link"
    inertia_origin_xyz="-0.00047006 -0.012257 0.10022" inertia_origin_rpy="0 0 0"
    mass="55.785"
    ixx="0.39179"
    ixy="-0.0027323"
    ixz="-0.00075955"
    iyy="0.323"
    iyz="-0.022558"
    izz="0.34492"
    origin_xyz="0 0 0" origin_rpy="0 0 0"
    material_name="base_blue"
  />

  <xacro:denso_link
    name="link_1"
    inertia_origin_xyz="0.0075871 0.03734 0.10645" inertia_origin_rpy="0 0 0"
    mass="44.267"
    ixx="0.28548"
    ixy="-0.012987"
    ixz="-0.013929"
    iyy="0.25047"
    iyz="-0.073189"
    izz="0.26167"
    origin_xyz="0 0 0" origin_rpy="0 0 0"
    material_name="blue"
  />

  <xacro:denso_link
    name="link_2"
    inertia_origin_xyz="-0.068043780087778 0.014140910340166 0.158490980475755"
    inertia_origin_rpy="0 0 0"
    mass="43.339"
    ixx="0.977219187562445"
    ixy="0.00144844221271251"
    ixz="-0.021078642737214"
    iyy="0.940664030252845"
    iyz="-0.0372886990528127"
    izz="0.0935514301099311"
    origin_xyz="0 0 0" origin_rpy="0 0 0"
    material_name="gray"
  />

  <xacro:denso_link
    name="link_3"
    inertia_origin_xyz="0.054747 -0.045778 0.060447" inertia_origin_rpy="0 0 0"
    mass="37.594"
    ixx="0.31727"
    ixy="-0.0048815"
    ixz="0.0065087"
    iyy="0.26582"
    iyz="0.088578"
    izz="0.16116"
    origin_xyz="0 0 0" origin_rpy="0 0 0"
    material_name="gray"
  />

  <xacro:denso_link
    name="link_4"
    inertia_origin_xyz="0.0051846 -0.00064606 0.10645" inertia_origin_rpy="0 0 0"
    mass="14.917"
    ixx="0.062769"
    ixy="3.6977E-05"
    ixz="-0.001868"
    iyy="0.069443"
    iyz="-0.00032273"
    izz="0.028683"
    origin_xyz="0 0 0" origin_rpy="0 0 0"
    material_name="gray"
  />

  <xacro:denso_link
    name="link_5"
    inertia_origin_xyz="-0.00049422 2.4246E-07 0.0067098" inertia_origin_rpy="0 0 0"
    mass="0.34309"
    ixx="0.00034995"
    ixy="-1.2487E-09"
    ixz="-1.1371E-06"
    iyy="0.00030039"
    iyz="-1.4302E-09"
    izz="0.00022745"
    origin_xyz="0 0 0" origin_rpy="0 0 0"
    material_name="gray"
  />

  <xacro:denso_link
    name="link_6"
    inertia_origin_xyz="3.1956E-05 1.0191E-06 0.011587" inertia_origin_rpy="0.0 0.0 0.0"
    mass="0.068739"
    ixx="2.0616E-05"
    ixy="5.2203E-09"
    ixz="-2.8476E-08"
    iyy="2.0453E-05"
    iyz="-9.0808E-10"
    izz="3.4376E-05"
    origin_xyz="0 0 0" origin_rpy="0 0 0"
    material_name="gray"
  />

  <!--Change
  limit of joints here-->

  <xacro:denso_joint
    name="X_joint" type="revolute"
    parent="base_link" child="link_1"
    origin_xyz="0 0 0.183" origin_rpy="0 0 0"
    axis_xyz="0 0 1"
    limit_l="-2.9671" limit_u="2.9671" limit_e="1" limit_v="3.0543" damping="1.0" friction="0.5"
    mimic=""
  />

  <xacro:denso_joint
    name="Y_joint" type="revolute"
    parent="link_1" child="link_2"
    origin_xyz="-0.048 0.075 0.15" origin_rpy="0 0 0"
    axis_xyz="-1 0 0"
    limit_l="-1.7453" limit_u="2.3562" limit_e="1" limit_v="3.4907" damping="1.0" friction="0.5"
    mimic=""
  />

  <xacro:denso_joint
    name="Z_joint" type="revolute"
    parent="link_2" child="link_3"
    origin_xyz="0 0.012264 0.36479" origin_rpy="0 0 0"
    axis_xyz="-1 0 0"
    limit_l="-2.0769" limit_u="2.949606436" limit_e="1" limit_v="3.4907" damping="0.5"
    friction="0.3" mimic=""
  />

  <xacro:denso_joint
    name="A_joint" type="revolute"
    parent="link_3" child="link_4"
    origin_xyz="0.048 -0.09 0.198" origin_rpy="0 0 0"
    axis_xyz="0 0 1"
    limit_l="-3.3161" limit_u="3.3161" limit_e="1" limit_v="5.236" damping="0.1" friction="0.1"
    mimic=""
  />

  <xacro:denso_joint
    name="B_joint" type="revolute"
    parent="link_4" child="link_5"
    origin_xyz="0 0 0.207" origin_rpy="0 0 3.14159265358979"
    axis_xyz="1 0 0"
    limit_l="-1.570796" limit_u="1.570796" limit_e="1" limit_v="5.236" damping="0.05" friction="0.05"
    mimic=""
  />

  <xacro:denso_joint
    name="C_joint" type="revolute"
    parent="link_5" child="link_6"
    origin_xyz="0 0 0.052" origin_rpy="0 0 0"
    axis_xyz="0.0 0.0 1.0"
    limit_l="-6.2832" limit_u="6.2832" limit_e="1" limit_v="8.3776" damping="0.01" friction="0.01"
    mimic=""
  />
</robot>