# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.aux
*.log
*.lof
*.fls
*.bcf
*.blg
*.tex.gz
*.toc

# Executables
*.exe
*.out
*.app

# colcon/CMake output
.catkin_workspace
/gamepadControl/__pycache__
gamepadControl/can_demo_asyncua
*/settings.json
*log_*2026*
scripts/smooth_trajectory_test.py
scripts/focused_timing_analysis.py
scripts/analyze_timing_issues.py
scripts/analyze_log_data.py
scripts/README.md
arctos_moveit_config/config/gz_arctos.sdf
.gitignore
.gitignore
arctos_moveit_config/config/gz_arctos.urdf
build/*
Thesis_Cat.zip
Thesis_by_AI.drawio
ref_paper/*
