<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="denso">

  <!-- Define denso_link macro -->
  <xacro:macro name="denso_link"
    params="name origin_xyz origin_rpy material_name inertia_origin_xyz inertia_origin_rpy mass ixx iyy izz ixy iyz ixz">
    <link name="${name}">
      <visual>
        <origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
        <geometry>
          <mesh filename="package://denso_description/meshes/${name}.STL" />
        </geometry>
        <material name="${material_name}" />
      </visual>
      <collision>
        <origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
        <geometry>
          <mesh filename="package://denso_description/meshes/${name}.STL" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="${inertia_origin_xyz}" rpy="${inertia_origin_rpy}" />
        <mass value="${mass}" />
        <inertia ixx="${ixx}" iyy="${iyy}" izz="${izz}" ixy="${ixy}" iyz="${iyz}" ixz="${ixz}" />
      </inertial>

    </link>
    <!-- However, the correct and explicit way when gazebo lives outside the link -->
    <gazebo reference="${name}">
      <!-- https://sdformat.org/spec/1.12/link/#link_kinematic -->
      <kinematic>true</kinematic>
      <gravity>false</gravity>
    </gazebo>
  </xacro:macro>

  <!-- Define denso_joint macro with a default value for axis_xyz -->
  <!-- TODO: Add param for mechanicalReduction -->
  <xacro:macro name="denso_joint"
    params="name type parent child origin_xyz origin_rpy axis_xyz='0 0 0' limit_u limit_l limit_e limit_v damping friction mimic">
    <joint name="${name}" type="${type}">
      <parent link="${parent}" />
      <child link="${child}" />
      <origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
      <axis xyz="${axis_xyz}" />
      <limit upper="${limit_u}" lower="${limit_l}" effort="${limit_e}" velocity="${limit_v}" />
      <xacro:if value="${mimic != ''}">
        <mimic joint="${mimic}" multiplier="1.0" offset="0.0"/>
      </xacro:if>
      <dynamics damping="${damping}" friction="${friction}"/>
    </joint>

    <xacro:if value="${mimic == ''}">
      <!-- Add transmission element -->
      <transmission name="transmission_${name}">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="${name}">
          <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="${name}_motor">
          <mechanicalReduction>1.0</mechanicalReduction>
        </actuator>
      </transmission>
    </xacro:if>
  </xacro:macro>

  <xacro:macro name="denso_control" params="name limit_u limit_l">
    <joint name="${name}">
      <command_interface name="position">
        <param name="min">${limit_l}</param>
        <param name="max">${limit_u}</param>
      </command_interface>
      <state_interface name="position" />
    </joint>
  </xacro:macro>

</robot>