<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find arctos_description)/urdf/common/joint_link.xacro" />

  <!-- Arctos Simple Pinch Gripper -->
  <!-- this definition used the "macro" in urdf/common to quickly define all the attributes-->
  <xacro:arctos_link
    name="gripper_body_link"
    inertia_origin_xyz="0.00020982 0.003292 0.033301" inertia_origin_rpy="0.0 0.0 0.0"
    mass="0.0054091"
    ixx="2.85E-06"
    ixy="1E-08"
    ixz="-1E-08"
    iyy="3.53E-06"
    iyz="-3.5E-07"
    izz="1.92E-06"
    origin_xyz="0.0 0.0 0.0" origin_rpy="0.0 0.0 0.0"
    material_name="shiny_black"
  />

  <xacro:arctos_link
    name="gripper_gear_right"
    inertia_origin_xyz="-0.00035596 -0.0024435 0.018593" inertia_origin_rpy="0.0 0.0 0.0"
    mass="0.0019306"
    ixx="7.1E-07"
    ixy="0.0"
    ixz="-1E-08"
    iyy="7.4E-07"
    iyz="-1E-08"
    izz="4E-08"
    origin_xyz="0.0 0.0 0.0" origin_rpy="0.0 0.0 0.0"
    material_name="shiny_black"
  />

  <xacro:arctos_link
    name="gripper_head_right"
    inertia_origin_xyz="0.0041166 -0.0074512 0.016822" inertia_origin_rpy="0.0 0.0 0.0"
    mass="0.0063243"
    ixx="2.31E-06"
    ixy="0.0"
    ixz="4.4E-07"
    iyy="1.61E-06"
    iyz="0.0"
    izz="1.26E-06"
    origin_xyz="0.0 0.0 0.0" origin_rpy="0.0 0.0 0.0"
    material_name="shiny_black"
  />

  <xacro:arctos_link
    name="gripper_gear_left"
    inertia_origin_xyz="0.00022186 -0.0024435 0.018595" inertia_origin_rpy="0.0 0.0 0.0"
    mass="0.0019306"
    ixx="7.1E-07"
    ixy="0.0"
    ixz="1E-08"
    iyy="7.4E-07"
    iyz="-1E-08"
    izz="4E-08"
    origin_xyz="0.0 0.0 0.0" origin_rpy="0.0 0.0 0.0"
    material_name="shiny_black"
  />

  <xacro:arctos_link
    name="gripper_head_left"
    inertia_origin_xyz="-0.0041166 -0.0074512 0.016822" inertia_origin_rpy="0.0 0.0 0.0"
    mass="0.0063243"
    ixx="2.31E-06"
    ixy="0.0"
    ixz="-4.4E-07"
    iyy="1.61E-06"
    iyz="0.0"
    izz="1.26E-06"
    origin_xyz="0.0 0.0 0.0" origin_rpy="0.0 0.0 0.0"
    material_name="shiny_black"
  />

  <!-- Fixed gripper joint, no axis needed -->
  <xacro:arctos_joint
    name="gripper_body_joint" type="fixed"
    parent="link_6" child="gripper_body_link"
    origin_xyz="0 0 0.0219999999999994" origin_rpy="0.0 0.0 3.14159265358979"
    limit_u="0.0" limit_l="0.0" limit_e="0.0" limit_v="0.0" damping="0.0" friction="0.0" mimic=""
  />

  <!-- gripper_gear_right_joint, revolute with axis directly defined -->
  <xacro:arctos_joint
    name="gripper_gear_right_joint" type="revolute"
    parent="gripper_body_link" child="gripper_gear_right"
    origin_xyz="-0.0105000000000263 0.0175575664610773 0.0484957779974575" origin_rpy="0.0 0.0 0.0"
    axis_xyz="0.0 -1.0 0.0"
    limit_u="1.47" limit_l="0.1" limit_e="100.0" limit_v="100.0" damping="0.02" friction="0.0"
    mimic=""
  />

  <xacro:arctos_joint
    name="gripper_head_right_joint" type="fixed"
    parent="gripper_gear_right" child="gripper_head_right"
    origin_xyz="-0.000818014467841976 0 0.043192254540952" origin_rpy="0.0 0.0 0.0"
    limit_u="0.0" limit_l="0.0" limit_e="0.0" limit_v="0.0" damping="0.0" friction="0.0" mimic=""
  />

  <xacro:arctos_joint
    name="gripper_gear_left_joint" type="revolute"
    parent="gripper_body_link" child="gripper_gear_left"
    origin_xyz="0.0105 0.017558 0.048496" origin_rpy="0.0 0.0 0.0" 
    axis_xyz="0.0 1.0 0.0"
    limit_u="1.47" limit_l="0.1" limit_e="100.0" limit_v="100.0" damping="0.02" friction="0.0"
    mimic="gripper_gear_right_joint"
  />

  <xacro:arctos_joint
    name="gripper_head_left_joint" type="fixed"
    parent="gripper_gear_left" child="gripper_head_left"
    origin_xyz="0.000524248952185996 0 0.0431968188995016" origin_rpy="0.0 0.0 0.0"
    limit_u="0.0" limit_l="0.0" limit_e="0.0" limit_v="0.0" damping="0.0" friction="0.0" mimic=""
  />


</robot>