<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="denso_ros2_control" params="name initial_positions_file sim:=false">
    <!--xacro.load_yaml
    must be used instead of load_yaml, or else we gonna get error: Using load_yaml() directly is
    deprecated. Use xacro.load_yaml() instead.-->
    <xacro:property name="initial_positions"
      value="${xacro.load_yaml(initial_positions_file)['initial_positions']}" />

    <ros2_control name="${name}" type="system">
      <hardware>
        <!-- By default, set up controllers for gazebo. This won't work on real hardware -->
        <xacro:if value="${sim}">
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </xacro:if>
        <xacro:unless value="${sim}">
          <plugin>denso_interface/DensoInterface</plugin>
          <param name="device">/dev/ttyUSB0</param>
          <param name="baud_rate">115200</param>
          <param name="timeout">1000</param>
        </xacro:unless>
      </hardware>
      <joint name="X_joint">
        <command_interface name="position">
          <param name="min">-2.967060</param>
          <param name="max">2.967060</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['X_joint']}</param>
        </state_interface>
      </joint>
      <joint name="Y_joint">
        <command_interface name="position">
          <param name="min">-2.094395</param>
          <param name="max">2.094395</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['Y_joint']}</param>
        </state_interface>
      </joint>
      <joint name="Z_joint">
        <command_interface name="position">
          <param name="min">-2.0769</param>
          <param name="max">2.9496</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['Z_joint']}</param>
        </state_interface>
      </joint>
      <joint name="A_joint">
        <command_interface name="position">
          <param name="min">-3.3161</param>
          <param name="max">3.3161</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['A_joint']}</param>
        </state_interface>
      </joint>
      <joint name="B_joint">
        <command_interface name="position">
          <param name="min">-2.0944</param>
          <param name="max">2.0944</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['B_joint']}</param>
        </state_interface>
      </joint>
      <joint name="C_joint">
        <command_interface name="position">
          <param name="min">-6.283185</param>
          <param name="max">6.283185</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['C_joint']}</param>
        </state_interface>
      </joint>
    </ros2_control>

    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node>
        <parameters>$(find denso_moveit_config)/config/ros2_controllers.yaml</parameters>
        <controller_manager_name>controller_manager</controller_manager_name>

      </plugin>
    </gazebo>
    
  </xacro:macro>
</robot>